<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="css/bootstrap.cosmo.mim.css" rel="stylesheet" type="text/css">
    <title>aula 3 - angularJs</title>
</head>

<body class="container" ng-app="aplicacao">
    <div class="header-inner">
        <h1 style="text-align: center; color:blue;">
            Bem-vindo ao Angular JS!
        </h1>
    </div>
    <div ng-controller="PrimeiroController" class="well">
        <h4>Olá, {{nome}} seja bem vindo!<h4>
    <div class="panel panel-primary" ng-class="{'panel panel-primary':iniciado, 'panel panel-danger':!iniciado}">
        <div class="panel-heading">
            <h3 class="panel-title">Situação do Curso</h3>
        </div>
        <div class="panel-body">
            <p class="ng-hide" ng-show="iniciado">Curso em Andamento!</p>
            <p ng-hide="iniciado">Curso Finalizado!</p>
            <!-- ngIf: !iniciado -->
            <p class="ng-scope" ng-if="!iniciado">Aguarde o próximo curso!</p>
            <!-- end ngIf: !iniciado -->
            <p> Valor do Curso: {{valor | currency:'R$ '}}</p>
            <p>Ultima atualização: {{hoje | date: 'dd/MM/yyyy'}}</p>
        </div>
	    </div>
        <div class="row">
            <div class="col-md-4" class="form-group form-group-defaut">
                <label class="label label-info" for="">Indicar valor ao curso</label>
                <input class="form-control" type="number" name="valor" id="valor" ng-model="valor">
            </div>
        </div><hr>
        <div class="row">
             <div class="col-md-4" class="form-group form-group-defaut">
                <label class="label label-primary" for="">Filtrar por nome</label>
                <input class="form-control" type="text" name="filtro" id="filtro" ng-model="filtro">
             </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th ng-click="ordenarPorNome">Nome do Aluno</th>
                <th ng-click="ordenarPorIdade">Idade</th>
            </tr>

            </thead>
            <tbody ng-repeat="aluno in alunos | filter: filtro">
            <tr >
                <td>{{aluno.nome}}</td>
                <td>{{aluno.idade}}</td>
            </tr>
            </tbody>
        </table>
        <hr>
        <button ng-show="iniciado" ng-click="finalizar()" class="btn btn-danger" >
            Finalizar
        </button >
        <button ng-hide="iniciado" ng-click="iniciar()" class="btn btn-success">
            Iniciar
        </button>
        <br><br>
        <div class="well" ng-click="finalizar()" >
            Finalizar clicando na div
        </div>
        <form name="form_1">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-defaut">
                        <label for="">Nome do Aluno</label>
                        <input class="form-control" placeholder="No mínimo 3 caracteres" id="nome_aluno" type="text" name="nome_aluno" ng-model="nome_aluno" required ng-readonly="!iniciado" ng-minlength="3">
                        </input>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-defaut">
                        <label for="">Idade</label>
                        <input class="form-control"  placeholder="idade do aluno" id="idade_aluno" type="number" name="idade_aluno" 
                        ng-model="idade_aluno" required ng-readonly="!iniciado">
                        </input>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary" ng-click="submeter()" ng-disabled="!iniciado">
                        Adicionar
                    </button>
                </div>
            </div>
        </form>
    </div>  
    <hr>
    <div class="container-fluid container-fixed-lg footer">
        <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Danilo de Freitas &copy 2015</span>
            </p>
        </div>
    </div>
    <script src="scripts/libs/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/primeiro-controller.js"></script>
    
</body>

</html>